<div class="centered-content">
    <div>
        <!-- <div>
            <h1>Ali Turfah</h1><hr />
        </div> -->
    
        <div id="about_section" class="info-block">
            <h2>About</h2>
            <p>
                I am a Ph.D candidate in the Biostatistics Department at the University of Michigan co-advized by <a href="https://sph.umich.edu/faculty-profiles/wen-xiaoquan.html">Dr. William Wen</a> and <a href="https://sph.umich.edu/faculty-profiles/zhao-lili.html">Dr. Lili Zhao</a>. My dissertation research focuses on new methods for cluster analysis to help improve analyses of biomedical data, with applications in COVID-19 vaccine safety studies and single-cell RNA expression data.
            </p>
            <p>
                I completed my undergraduate studies in Data Science Engineering from the University of Michigan College of Engineering in 2018, and completed my M.A. in Statistics from Columbia University in 2021. 
            </p>
        </div>
    
        <div class="info-block">
            <h2>Getting in Touch</h2>
            <p>
                If you would like to get in touch, I can be reached at &lt;aturfah <i>at</i> umich <i>dot</i> edu&gt;. Links to various accounts are included below as well.
            </p>
            <div class="social-links container-fluid">
                <div class="row">
                    <div class="col-md"></div>
                    {% for link in site.data.footer_links %}
                    <div class="col-md">
                        <a href="{{link.link}}">{{link.name}} <i class="{{link.favicon}}"></i></a></h4>
                    </div>
                    {% endfor %}
                    <div class="col-md"></div>
                </div>
            </div>
        </div>
    </div>    
</div>