<div class="nav-div animate-area">
  <div class="nav-column">
      <div class="centered-content">
          <div>
              <a href="/"><img class="img-circle" src="/assets/images/headshot.jpeg"></a>
              <h2>Ali Turfah</h2>
              <p class="nav-tagline">PhD Candidate in Biostatistics<br/>at the University of Michigan</p>
              <ul class="url-list">
                  {% for item in site.data.navigation %}
                  <li>
                      <a href="{{ item.link }}"">{{ item.name }}</a>
                  </li>
                  {% endfor %}
                  <li><a href="{{ site.data.info.resume_link }}">CV</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="nav-bar container-fluid">
      <h2 class="nav-bar-name">Ali Turfah</h2>
  </div>
</div>