<div class="top-padded-content">
    <div>
        <h2>Misc. Projects</h2>
        <p>Here are some projects and tools I've worked on.</p>
        <ul>
            {% for item in site.data.projects %}
            {% if item.hidden != true %}
            <div>
                <a class="project-link" href="{{item.link}}"><h5>{{item.title}}</h5></a>
                    <p class="project-description">
                        {{item.description}} 
                        {% if item.note %}
                        <i>({{item.note}})</i>
                        {% endif %} 
                    </p>
            </div>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
