<div class="top-padded-content">
    <div>
        <h2>Under Review</h2>
        <ol>
            {% for item in site.data.publications %}
            {% if item.type == "under_review" %}
                    <li>{{item.citation}}
                        {% if item.link %}
                        <a href="{{ item.link }}">Link.</a>
                        {% endif %}
                    </li>
            {% endif %}
        {% endfor %}
        </ol>

        <h2>Published</h2>
        <ol>
            {% for item in site.data.publications %}
            {% if item.type != "under_review" %}
                    <li>{{item.citation}}
                        {% if item.link %}
                        <a href="{{ item.link }}">Link.</a>
                        {% endif %}
                    </li>
            {% endif %}
        {% endfor %}
        </ol>
    </div>
</div>