<h2>Misc Projects</h2>
<p>Here are some projects I've worked on for fun, or to learn some new technology.</p>
{% for item in site.data.projects %}
{% if item.misc_project == true %}
        <div class="project-panel">
                <a href="{{item.link}}"><h4>{{item.title}}</h4></a>
                <p>
                    <a class="project-link" href="{{item.link}}">Project Link</a>
                </p>
                <p class="project-description">{{item.description}}</p>
                {% if item.note %}
                    <p><i>{{item.note}}</i></p>
                {% endif %} 
        </div>
{% endif %}
{% endfor %}
