---
---
body {
    background-color: white;
    width: 100%;
    font-family: 'Comfortaa', sans-serif;
    height: 100%;
}

// h1, h2, h3, h4, .url-list li {
//     font-family: 'Comfortaa', sans-serif;
// }

.img-circle {
    border-radius: 50%;
    width: 250px;
    margin: auto;
    margin-bottom: 0.5em;
    display: inline-block;
}

// Animated column
.animate-area {
    color: white;
    height: 100vh;
    background-color: #c0dfed;;

	background-image: url('/assets/images/bg_clouds.png');
	background-position: top right;
	background-repeat: repeat-x;

	animation: animatedBackground 45s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0px 0; }
	to { background-position: -2247px 0; }
}

// Navigation Styling
.nav-column {
    color: rgba(50, 50, 50, 0.8);
    display: flex;
    height: 100%;
    justify-content: center;
}

.nav-div {
    height: 100vh;
    width: 350px;
    margin-right: 0.5em;
    font-weight: normal;
    text-align: center;
}


.nav-tagline {
    font-size: medium;
    text-align: left;
}

.nav-column-content {
    padding-bottom: 20%;
}

.nav-bar {
    display: none;
}

ul.url-list {
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    // font-weight: bolder;
    line-height: 2em;
}


.url-list a, .url-list a:hover, .url-list a:visited, .url-list a:active, .url-list a:link {
    color: inherit;
    text-decoration: none;
}

// Main body styling
.overflow-scroll {
    overflow: scroll;
}

.main-body {
    // background-color: red;
    height: 100vh;
    font-size: large;
    max-width: 1100px;
}

.main-body-div {
    height: 100%;
}

.social-links {
    // width: 100%;
    // align-items: center;
    // justify-content: center;
    text-align: center;
}

.social-links a {
    // width: auto;
    text-align: center;
}

// For page content layout
.centered-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.top-padded-content {
    display: flex;
    padding-top: 10%;
    height: 100%;
}


// Navbar/Main page responsiveness
@media (max-width: 992px) {
.pad-column {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-div {
    /* position: static; */
    width: 100%;
    height: auto;
  }

  .nav-column {
    display: none;
  }

  .animate-area {
    background-image: none;
  }

  .nav-bar {
    display: flex;
    background-color: #8EC1DA;
    font-weight: bolder
  }

  .nav-bar li {
    text-transform: uppercase;
  }

  .centered-content {
    align-items: normal;
    padding-top: 10%;
  }
}

// Add some padding for research page
li.publication-li {
    padding: 0.3em;
}