---
---
body {
    background-color: white;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

h1, h2, h3, h4, .url-list li {
    font-family: 'Ubuntu', sans-serif;
}

.img-circle {
    border-radius: 50%;
    width: 250px;
    margin: auto;
    margin-bottom: 0.5em;
    display: inline-block;
}

// Animated column
.animate-area {
    color: white;
    height: 100vh;
    background-color: #c0dfed;;

	background-image: url('/assets/images/bg_clouds.png');
	background-position: top right;
	background-repeat: repeat-x;

	animation: animatedBackground 45s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0px 0; }
	to { background-position: -2247px 0; }
}

// Navigation Styling
.nav-column {
    display: flex;
    height: 100%;
    justify-content: center;
}

.nav-div {
    height: 100vh;
    width: 350px;
    margin-right: 0.5em;
}

.nav-tagline {
    font-size: medium;
}

.nav-column-content {
    padding-bottom: 5em;
}

.nav-bar {
    display: none;
}

// Main body styling
.overflow-scroll {
    overflow: scroll;
}

.main-body {
    // background-color: red;
    height: 100vh;
    font-size: large;
    max-width: 1100px;
}

.main-body-div {
    height: 100%;
}


// For page content layout
.centered-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.top-padded-content {
    display: flex;
    padding-top: 10%;
    height: 100%;
}


// Navbar/Main page responsiveness

@media (max-width: 992px) {
.pad-column {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-div {
    /* position: static; */
    width: 100%;
    height: auto;
  }

  .nav-column {
    display: none;
  }

  .nav-bar {
    display: flex;
    padding: 0.75em;
  }

  .nav-bar-name {
    font-size: larger;
  }

  .centered-content {
    align-items: normal;
    padding-top: 10%;
  }
}